<!DOCTYPE html>
<html>
  <head>
    <title><%= pace %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= pace %></h1>
    <p>Welcome to <%= pace %></p>
    <img src="/images/mdp.jpg" alt="MDP">
  </body>
</html>
